.search {
    display: flex;
    justify-content: flex-end;
    margin: -3% 2%;
}

input {
    border-radius: 10px;
    border: 0;
    opacity: .4;
    margin-right: 15px;
}

input:focus {
    outline: none;
    text-align: center;
    font-weight: 600;
    opacity: .8;
}

button {
    background: rgba(151, 151, 151, 0.521);
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .3em 2em;
    outline: none;
    border: 1px solid;
    border-radius: 1px;
    transition: 0.2s;
} 
button:hover {
    background: rgba(255, 255, 255, 0.644); 
}
